*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --sfondo-color: red;
    --padding-text:30px
}

.fluid{
    width: 20%;
    height: 20%;
    padding: 10%;
    border: 10px solid greenyellow;
    background: var(--sfondo-color);
     
    
}
p{
    padding: var(--padding-text);
}
.pixel{
    width: 200px;
    height: 200px;
    padding: 40px;
    border: 10px solid rebeccapurple;
    background: var(--sfondo-color);
}
.p1{
    background: var(--sfondo-color);
    font-size: 7rem;
}
.p2{
    background: var(--sfondo-color);
    font-size: 7em;
}