*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fluid{
    width: 20%;
    height: 20%;
    padding: 10%;
    border: 10px solid greenyellow;
    
}
.pixel{
    width: 200px;
    height: 200px;
    padding: 40px;
    border: 10px solid rebeccapurple;
}